<configuration>
    <appender name="GELF-INT-TEST" class="org.metastatic.gelfback.GELFTCPAppender">
        <gelfPort>12201</gelfPort>
        <gelfHost>${GRAYLOG_INT_TEST_HOST}</gelfHost>
        <localHost>gelfback.test</localHost>
        <includeCallerData>true</includeCallerData>
        <staticFields>application=gelfback-integration-test,stack=inf,foo=bar</staticFields>
    </appender>

    <root level="debug">
        <appender-ref ref="GELF-INT-TEST"/>
    </root>
</configuration>